@tailwind base;
@tailwind components;

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  @apply bg-green-800;

  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@import 'tailwindcss/utilities';
