# secret
.env

cache/yarn/**/*
cache/verdaccio/**/*
cache/install-state.gz
!cache/yarn/.gitkeep
!cache/verdaccio/.gitkeep

*.log

**/lib
**/*.tsbuildinfo
**/profiles
**/.budfiles
coverage

# pacman
/dev/yarn/*
!/dev/yarn/patches
!/dev/yarn/releases
!/dev/yarn/plugins
!/dev/yarn/sdks
!/dev/yarn/versions
.pnp.*
/.npmrc
node_modules

# bud

.netlify
.docusaurus
.cache-loader

# verdaccio
/verdaccio

# Sources
/sources/@roots/*/types

# Docs
/sources/docs/build
/sources/docs/src/api/**/*.*

# Examples
/examples/*/dist
/examples/*/.budfiles
