*.log
node_modules
coverage
**/lib
**/types
!**/src/types
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/local
.pnp.*

# Kjo
!/dev/build/yarn-plugin-tasks/lib

# Profiles
**/profiles

# Docusaurus
.docusaurus
.cache-loader
/build
.netlify