# secret
**/.env
!.env
!tests/unit/bud/context/**/.env

coverage
storage/**/*
!storage/package.json
!storage/package-lock.json

# Yarn
**/*.log
**/lib
**/*.tsbuildinfo
**/profiles
**/.budfiles
**/.pnp.*
**/.yarn
!/.yarn

# Netlify
**/.netlify

# Sources
/sources/@repo/docs/content/dev/api/**/*
/sources/@repo/docs/build
/sources/@repo/docs/.docusaurus
/sources/@repo/docs/generated/*/*
/sources/@repo/*/compiled
!/sources/@repo/docs/generated/*/.gitkeep

**/dist
**/.budfiles
**/node_modules
