[dark-mode] .heroBanner {
  color: white;
}

.heroBanner {
  padding: 8rem 3rem 6rem 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner > div {
  max-width: 900px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 3rem 2rem;
  }
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.banner {
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.hero {
  background-color: #2b3137;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

@keyframes jack-in-the-box {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

.indexCtas a,
.indexCtas a:hover {
  color: black;
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;
}

.indexCtaTryNowButton:hover {
  color: var(--ifm-color-primary);
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    font-size: 36px;
    text-align: center;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .indexCtas {
    justify-content: center;
  }

  .indexCtas a {
    margin: 20px 36px;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}

.testimonialsSection {
  margin-top: -2rem;
}

.testimonialsSection > :global(.col) {
  padding-top: 2rem;
  margin-top: -2rem;
}

.testimonialsSection > :global(.col) > * {
  margin-top: 2rem;
}

/* Used to test CSS insertion order */
.test-marker-site-index-page {
  content: 'site-index-page';
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

.buttons a {
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.buttons a:hover {
  background: white;
  color: var(--ifm-color-primary-dark);
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.comparison {
  width: 100%;
  margin: 0;
  padding: 0;
}

.comparison table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: inline-table;
}

.comparison table thead {
  background-color: transparent;
  border: none;
}

.comparison table th {
  background-color: transparent;
  color: var(--ifm-table-head-color);
  font-weight: var(--ifm-table-head-font-weight);
  text-align: left;
  border: none;
}

.comparison table th:not(:first-child) {
  text-align: center;
}

.comparison table thead tr {
  border-bottom: none;
  border-top: none;
}

.comparison table tr {
  background-color: transparent;
}

.comparison table td {
  border: none;
}

.comparison table td:not(:first-child) {
  text-align: center;
  max-width: 10vw;
  width: 10vw;
}

.comparison .success {
  background: rgba(38, 178, 38, 0.2);
  border: 1px solid white !important;
}

.comparison .error {
  background: rgba(178, 38, 38, 0.2);
  border: 1px solid white !important;
}

.comparison .warning {
  background: rgba(255, 162, 0, 0.2);
  border: 1px solid white !important;
}
