version: 2.1

orbs:
  node: circleci/node@2.0.2

workflows:
  version: 2
  build:
    jobs:
      - build

jobs:
  build:
    working_directory: ~/bud

    docker:
      - image: circleci/node:15.11

    steps:
      - checkout

      - run:
          name: install
          command: yarn install

      - run:
          name: build cjs
          command: yarn build:ci:cjs

      - run:
          name: build esm
          command: yarn build:ci:esm

      - run:
          name: jest
          command: yarn test:ci

      - run:
          name: example builds
          command: ./dev/scripts/build-examples.sh
