version: 2.1

orbs:
  node: circleci/node@2.0.2

workflows:
  version: 2
  build:
    jobs:
      - build

jobs:
  build:
    working_directory: ~/bud

    docker:
      - image: circleci/node:16.3

    steps:
      - checkout

      - run:
          name: install
          command: yarn install

      - run:
          name: build cjs
          command: yarn kjo make ci
