.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.avatar {
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.username {
  line-height: 5px;
  padding-bottom: 2rem;
}

.userGrouping {
  word-break: 'normal';
}