@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
@import url('./dank-mono.css');

:root {
  --ifm-color-primary: rgba(82, 93, 220, 1);
  --ifm-color-primary-dark: rgb(86, 98, 218);
  --ifm-color-primary-darker: rgb(71, 83, 220);
  --ifm-color-primary-darkest: rgb(40, 49, 142);
  --ifm-color-primary-light: rgba(82, 93, 220, 1)
  --ifm-color-primary-lighter: rgba(82, 93, 220, 1)
  --ifm-color-primary-lightest: rgba(82, 93, 220, 1)

  --ifm-font-family-base: 'Public Sans', system-ui, sans-serif;
  --ifm-font-family-monospace: 'dm', monospace;
}

navbar--primary {
  background-color:rgb(40, 49, 142)
}

.navbar__items--right > :last-child {
  padding-left: var(--ifm-navbar-item-padding-horizontal);
}

.card {
  border: 1px solid rgba(206, 209, 247, 0.4);
  box-shadow: none;
}

.docusaurus-highlight-code-line {
  background: rgba(140, 146, 220, 0.3);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__search-input {
  border-radius: 5px;
}

.footer {
  background: var(--ifm-color-primary-darker);
}
