.heroBanner {
  padding: 6rem 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  background: linear-gradient(
    217deg,
    rgb(86, 98, 218),
    rgb(71, 83, 220)
  );
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 3rem 2rem;
    background: linear-gradient(
      217deg,
      rgb(86, 98, 218),
      rgb(71, 83, 220)
    );
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

.buttons a {
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.buttons a:hover {
  background: white;
  color: var(--ifm-color-primary-dark);
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
