@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --ifm-color-primary: rgb(134, 144, 250);
  --ifm-color-primary-dark: rgb(86, 98, 218);
  --ifm-color-primary-darker: rgb(71, 83, 220);
  --ifm-color-primary-darkest: rgb(40, 49, 142);
  --ifm-color-primary-light: rgb(86, 98, 218);
  --ifm-color-primary-lighter: rgb(140, 146, 220);
  --ifm-color-primary-lightest: rgb(206, 209, 247);

  --ifm-footer-background-color: rgb(40, 49, 142);

  --ifm-font-family-base: 'Work Sans';
}

.footer {
  background: linear-gradient(217deg, rgb(86, 98, 218), rgb(40, 49, 142));
}

.docusaurus-highlight-code-line {
  background: rgba(140, 146, 220, 0.3);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__search-input {
  border-radius: 5px;
}

.footer__bottom {
  text-align: left;
  margin-top: 2rem;
}

.table-of-contents__link {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  border-radius: 4px;
}

.table-of-contents__link--active {
  background: var(--ifm-color-primary-darker);
  color: white;
}

.table-of-contents__link--active:hover {
  color: white;
  background: var(--ifm-color-primary-dark);
}

.markdown a {
  font-weight: 900;
}