name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - next
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
        node:
          - 16.x

    name: test node@${{matrix.node}}/${{matrix.platform}}
    runs-on: ${{matrix.platform}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node}}

      - name: Cache
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Restore
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Start
        run: 'docker compose up -d'

      - name: Setup
        run: 'docker compose run bud yarn'

      - name: Lint packages
        run: 'docker compose run bud yarn @bud lint --skypack'

      - name: Proxy publish packages
        run: 'docker compose run bud yarn @bud release proxy --tag latest'

      - name: Test
        run: 'docker compose run bud yarn @bud test --coverage --maxWorkers=50%'
