name: Release latest version

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version number (x.y.z format)
        required: true

jobs:
  test:
    steps:
      - uses: ./.github/workflows/test.yml

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Cache
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Restore
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Release
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          YARN_RC_FILENAME: '.yarnrc.yml'
        run: |
          yarn @bud : release npm --tag latest --version ${{ github.event.inputs.version }}
