name: Release nightly version

on:
  schedule:
  - cron: '0 0 * * *'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
          cache: yarn

      - name: set npmAuthToken
        run: |
          yarn config set npmAuthToken ${{ secrets.NODE_AUTH_TOKEN }}

      - name: Set npmPublishRegistry
        run: yarn config set npmPublishRegistry https://registry.npmjs.org/

      - name: Set npmRegistryServer
        run: yarn config set npmRegistryServer https://registry.npmjs.org/

      - name: Release nightly
        run: yarn @bud release --tag nightly
