name: Release latest version

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version number (x.y.z format)
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
          cache: yarn

      - name: set npmAuthToken
        run: |
          yarn config set npmAuthToken ${{ secrets.NODE_AUTH_TOKEN }}

      - name: Release v${{ github.event.inputs.version }}
        run: yarn @bud deprecate ${{ github.event.inputs.version }}

