name: 'Close stale issues and PRs'
on:
  schedule:
  - cron: '0 0 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          exempt-all-pr-milestones: true
          stale-issue-message: Message to comment on stale issues. If none provided, will not mark issues stale
          stale-issue-label: stale
          stale-pr-message: Message to comment on stale PRs. If none provided, will not mark PRs stale
          stale-pr-label: stale
