name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '0 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          exempt-all-pr-milestones: true
          exempt-issue-label: in-progress
          stale-issue-message: Message to comment on stale issues. If none provided, will not mark issues stale
          stale-issue-label: stale
          stale-pr-message: Message to comment on stale PRs. If none provided, will not mark PRs stale
          stale-pr-label: stale
