name: Build & Test

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
        node:
          - 16.x

    name: test node@${{matrix.node}}/${{matrix.platform}}
    runs-on: ${{matrix.platform}}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node}}

      - name: Cache
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Restore
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Setup
        run: |
          docker-compose run --rm bud yarn install --immutable

      - name: Lint
        run: |
          docker-compose run --rm bud yarn @bud lint --skypack --eslint

      - name: Publish
        run: |
          docker-compose run --rm bud yarn @bud release --tag latest

      - name: Unit
        run: |
          docker-compose run --rm bud yarn @bud test unit --coverage --maxWorkers 50%

      - name: Integration
        run: |
          docker-compose run --rm bud yarn @bud test integration --coverage --maxWorkers 50%
