name: test (integration)

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
        node:
          - 16.18.0

    name: integration test (node@v${{matrix.node}}/${{matrix.platform}})
    runs-on: ${{matrix.platform}}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node}}
          cache: yarn

      - name: yarn
        run: yarn

      - name: yarn @bud registry start
        run: yarn @bud registry start

      - name: yarn @bud release --tag latest --version ${{ github.head_ref }}.${{ github.sha }}
        run: yarn @bud release --tag latest --version ${{ github.head_ref }}.${{ github.sha }}

      - name: yarn @bud test integration
        run: yarn @bud test integration run
